body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F6F5F5; /* Change this to your desired background color */
    font-family: Courier, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Stack header and form vertically */
    align-items: center; /* Center header and form horizontally */
}

header {
    width: 100%;
    text-align: center;
    background-color:  #FFFFFF;  /* Adjust the color and thickness of the line */
    padding: 20px 0;
    box-sizing: border-box;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #1A2130;
    font-family: 'Lucida Sans';
}

hr {
    width: 80%;
    border: none;
    border-top: 2px solid #000; /* Set the thickness and color of the line */
    margin: 0 0 20px 20px; /* Remove default margins */
}

form {
    display: flex;
    flex-direction: column;
    margin: 1000px, 1000px;
    display: inline-block;
    text-align: center;
    background-color: #FDFFE2; /* Form background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
}

p {
    width: 80%;
    border-radius: 20px;
    margin: 20px 0 0 155px
}

.paragraph {
    text-align: left;
}

.layer {
    fill: #83B4FF;
    stroke: black;
    stroke-width: 2;
}
.text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-anchor: middle;
    fill: black;
}

h2 {
    margin-top: 40px;
    font-size: 20px;
    color: #5A72A0;
    font-family: 'Lucida Sans';
    padding: 0;

}
svg {
    display: block;
    margin-bottom: 20px;
    margin: 0;
    padding: 0;
}
.footer {
    
    margin-top: 20px;
}
